.map-overlay-header {
    position: absolute;
    bottom: 0;
    top: 0%;
    left: 0%;
    right: 0;
    background: #fff;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    z-index: 1;
  }
  
  #header {
    display: flex;
    padding: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 47px;
    margin-bottom: 40px;
    width: 100%;
  }

  #openNav {
    padding-right:20px; 
    margin-top: 10px;
    margin-left: 10px;
  }

  #header-dropdown {
    display: block;
    padding-left: 10px;
  }

  .mapViewDiv{
    margin-bottom: -5px;
  }

  #show-legend {
    white-space: nowrap;
    display: inline-block;
    margin-left: 1em;
    margin-top: 0.5em;
  }
  
  #show-districts {
    white-space: nowrap;
    display: inline-block;
    margin-left: 1em;
    margin-top: 0.5em;
  }

  #show-precincts {
    white-space: nowrap;
    display: inline-block;
    margin-left: 1em;
    margin-top: 0.5em;
  }

  #show-counties {
    white-space: nowrap;
    display: inline-block;
    margin-left: 1em;
    margin-top: 0.5em;
  }

  .map-view-options{
    font-size: 10px;
    height: 25px;
    margin-top: 10px;
  }

  .popViewDiv{
    margin-bottom: -5px;
  }

  #refresh{
    position:fixed; 
    border-radius:60%;
    font-size:18px; 
    right: 70px;
    margin-top:10px;
  }

  #reset-map{
    right:0; 
    min-width:90px;
  }

  .mapOptions{
    font-size: 12px;
  }

  /* Styling for toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 32.48px;
    height: 17.92px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14.56px;
    width: 14.56px;
    left: 2.1px;
    bottom: 2.1px;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  input:checked + .slider {
    background-color: #70b8f8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14.56px);
    -ms-transform: translateX(14.56px);
    transform: translateX(14.56px);
  }
  
  .slider {
    border-radius: 25.6px;
  }
  
  .slider:before {
    border-radius: 50%;
  }