.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #706e6e;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #0a0a0a;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 5;
    right: 5px;
    font-size: 30px;
    margin-left: 50px;
  }

  .slidecontainer {
    width: 100%;
    margin-left: 20px;
  }

.panelInput{
    width: 70px;
}

.generate_button {
    position: relative;
    padding: 8px 16px;
    background: #1360db;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 0px 0px 20px;
  }
  
  .generate_button:active {
    background: #0e4bad;
  }
  
  .button__text {
    font: bold 20px "Helvetica";
    color: white;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
    /* # after "ease" refers to total # ofspins */
    /* infinite  <-- instead of # will make it spin forever until clicked again */
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }
  
  /* END "generate" BUTTON CODE */
  