
/* for the table */
/* #flex-container {
    vertical-align: top;
    position: relative;
    display: flex;
  }
  .flex-child {
    vertical-align: top;
    position: relative;
    flex: 1;
  }
  .flex-child:first-child {
    vertical-align: top;
    flex: 2;
  } */

  /* Table */

#plot-dropdown {
  margin-top: 10px;
}


.map-overlay-table {
    position: absolute;
    bottom: 1em;
    right: -0.9em;
    background: rgba(255, 255, 255, 0);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    z-index: 2;
  }
  
  #info-table {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 420px;
    width: 410px;
    margin-bottom: 40px;
    display: 'none';
  }
  
  .table-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .table-header {
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0px;
  }
  
  .table-total {
    font-family: Verdana;
    font-size: 13px;
    margin: 8px 0px;
  }
  
  h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  table {
    font-family: verdana;
    font-size: small;
  }
  
  #table {
    /* background-color: #c6e4e7; */
    display: 'none';
    width: 35%;
    height: 50%;
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255, 0.5);
  }
  
  .tab button {
    background: inherit;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 4px;
  }
  
  .tab button:hover {
    background: #ccc;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 14px;
  }

  #boxPlot {
    width: 100%;
    height: 100%;
  }
  
  /* #State {
    display: 'none';
  }

  #District {
    display: 'none';
  }

  #Comparison {
    display: 'none';
  }

  #tableLinks {
    display: 'none';
  } */

  .district-data-css {
    border-collapse: collapse;
    margin: 0px 0px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 1px 15px #807f7f;
    z-index: 11;
  }
  
  .district-data-css thead {
    /* gives header color */
    background-color: #4287f5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
  }
  
  .district-data-css th,
  .district-data-css td {
    font-size: 12px;
    padding: 3px 5px;
    text-align: left;
  }
  .district-data-css tbody tr:hover {
    /* hover over each row = highlight the row */
    background-color: #ffa;
  }
  
  .district-data-css tr {
    /* gray color to each of the rows*/
    border-bottom: 1px solid #dddddd;
  }
  
  .district-data-css tr:last-of-type {
    /* bottom line of the table is dark blue */
    border-bottom: 3px solid #1360db;
  }
  
  .voting-data-css {
    border-collapse: collapse;
    margin: 0px 0px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 1px 15px #807f7f;
    z-index: 11;
  }
  
  .voting-data-css thead {
    /* gives header color */
    background-color: #4287f5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .voting-data-css th,
  .voting-data-css td {
    padding: 3px 5px;
    text-align: left;
  }
  .voting-data-css tbody tr:hover {
    /* hover over each row = highlight the row */
    background-color: #ffa;
  }
  
  .voting-data-css tr {
    /* gray color to each of the rows*/
    border-bottom: 1px solid #dddddd;
  }
  
  .voting-data-css tr:last-of-type {
    /* bottom line of the table is dark blue */
    border-bottom: 3px solid #1360db;
  }
  
  .demographic-data-css {
    border-collapse: collapse;
    margin: 0px 0px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 1px 15px #807f7f;
    z-index: 11;
  }
  
  .demographic-data-css thead {
    /* gives header color */
    background-color: #4287f5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .demographic-data-css th,
  .demographic-data-css td {
    padding: 3px 5px;
    text-align: left;
  }
  .demographic-data-css tbody tr:hover {
    /* hover over each row = highlight the row */
    background-color: #ffa;
  }
  
  .demographic-data-css tr {
    /* gray color to each of the rows*/
    border-bottom: 1px solid #dddddd;
  }
  
  .demographic-data-css tr:last-of-type {
    /* bottom line of the table is dark blue */
    border-bottom: 3px solid #1360db;
  }