body {
  margin: 0;
  padding: 0;
}

object {
  height: 600px;
  width: 100%;
}
.table-header {
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0px;
}

.table-total {
  font-family: Verdana;
  font-size: 13px;
  margin: 8px 0px;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  bottom: 1.5em;
  right: 0;
  left: 2em;
  background: rgba(255, 255, 255, 0.3);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 140px;
  margin-bottom: 15px;
  width: 130px;
  z-index: 2;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#map {
  /*  THIS CHANGES THE MAP TO BECOME FULL SCREEN */
  vertical-align: top;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0em;
  z-index: 1;
}
.mapboxgl-popup-content h4 {
  font-weight: 300;
  font-size: 0.9em;
  border-width: 0px 0px 0.5px 0px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
  font-weight: 300;
  margin-top: 0.3em;
  margin-bottom: 0em;
}

.mapboxgl-ctrl-top-right {
  top: 4.4em;
}

#map-zoom {
  display: block;
  position: relative;
  margin: 10px auto;
  width: 100px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  color: #000;
  background: rgba(255, 255, 255, 0.3);
}

.map-zoom {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 40px;
  width: 100px;
  z-index: 2;
}

#header {
  height: 4em;
}

.dropbtn {
  background-color: #d9e2e3;
  color: #666666;
  padding: 16px;
  font-size: 14px;
  font-family: arial;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#flex-container {
  vertical-align: top;
  position: relative;
  display: flex;
}
.flex-child {
  vertical-align: top;
  position: relative;
  flex: 1;
}
.flex-child:first-child {
  vertical-align: top;
  flex: 2;
}

#show-legend {
  white-space: nowrap;
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.5em;
}

#show-districts {
  white-space: nowrap;
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.5em;
}

/* Styling for toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 40.6px;
  height: 22.4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18.2px;
  width: 18.2px;
  left: 2.1px;
  bottom: 2.1px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #70b8f8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18.2px);
  -ms-transform: translateX(18.2px);
  transform: translateX(18.2px);
}

.slider {
  border-radius: 32px;
}

.slider:before {
  border-radius: 50%;
}

#header-dropdown {
  display: block;
  padding-left: 10px;
}

.map-overlay-header {
  position: absolute;
  bottom: 0;
  top: 0%;
  left: 0%;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  z-index: 1;
}

#header {
  display: flex;
  padding: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 58px;
  margin-bottom: 40px;
  width: 100%;
}

/* Table */
.map-overlay-table {
  position: absolute;
  bottom: 1em;
  right: -0.9em;
  background: rgba(255, 255, 255, 0);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  z-index: 2;
}

#info-table {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 420px;
  width: 410px;
  margin-bottom: 40px;
}

.table-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

table {
  font-family: verdana;
  font-size: small;
}

#table {
  /* background-color: #c6e4e7; */
  width: 35%;
  height: 50%;
}

.voting-data-css {
  border-collapse: collapse;
  margin: 0px 0px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 1px 15px #807f7f;
  z-index: 11;
}

.voting-data-css thead {
  /* gives header color */
  background-color: #4287f5;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.voting-data-css th,
.voting-data-css td {
  padding: 3px 5px;
  text-align: left;
}
.voting-data-css tbody tr:hover {
  /* hover over each row = highlight the row */
  background-color: #ffa;
}

.voting-data-css tr {
  /* gray color to each of the rows*/
  border-bottom: 1px solid #dddddd;
}

.voting-data-css tr:last-of-type {
  /* bottom line of the table is dark blue */
  border-bottom: 3px solid #1360db;
}

.demographic-data-css {
  border-collapse: collapse;
  margin: 0px 0px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 1px 15px #807f7f;
  z-index: 11;
}

.demographic-data-css thead {
  /* gives header color */
  background-color: #4287f5;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.demographic-data-css th,
.demographic-data-css td {
  padding: 3px 5px;
  text-align: left;
}
.demographic-data-css tbody tr:hover {
  /* hover over each row = highlight the row */
  background-color: #ffa;
}

.demographic-data-css tr {
  /* gray color to each of the rows*/
  border-bottom: 1px solid #dddddd;
}

.demographic-data-css tr:last-of-type {
  /* bottom line of the table is dark blue */
  border-bottom: 3px solid #1360db;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #706e6e;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0a0a0a;
}

.sidenav .closebtn {
  position: absolute;
  top: 5;
  right: 5px;
  font-size: 30px;
  margin-left: 50px;
}

.slidecontainer {
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background: rgb(255, 255, 255, 0.5);
}

.tab button {
  background: inherit;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 4px;
}

.tab button:hover {
  background: #ccc;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab button {
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 10px 13px;
  transition: 0.3s;
  font-size: 15px;
}

/* 
START CODE FOR THE "generate" BUTTON LOCATED IN THE HAMBURGER MENU
*/

.generate_button {
  position: relative;
  padding: 8px 16px;
  background: #1360db;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 0px 0px 20px;
}

.generate_button:active {
  background: #0e4bad;
}

.button__text {
  font: bold 20px "Helvetica";
  color: white;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
  /* # after "ease" refers to total # ofspins */
  /* infinite  <-- instead of # will make it spin forever until clicked again */
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

/* END "generate" BUTTON CODE */
